body {
padding: 5px
font-family: 'Noto Serif', serif;
font-size: 1.25em;
}




.navigation {
  background color:lightpink;
  width: 300px;
  height:30%
  position:fixed;
  top:0;
  right:0;
}
.navigation a{
  text-decoration: underline;
  color:purple
}
.site-info{
margin: 2em auto;
text-align: center;
font-size: 200%;
}
.logo{
  background-color: black;
  width: 100px;
  height: 100px;
  margin:0 auto 1em;
  border: ;
  border-radius:100%;
  line-height: 100px;
  color:black;
  text-transform: uppercase;
}
.logo:hover{
  border:5px solid purple;
}
.site-links{
  margin:0 1em;
}
.site-links a{
  display:inline;
  margin:1em;
}
.site-links a:hover{
  margin-left: 2em;
}
.main{
  overflow: auto;
  background-color: white;
  padding: 1em;
  margin-right: 300px ;
}
.banner{
  width: 100%;
  height: auto;
